@import 'variables';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

button {
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    box-shadow: $fancy-shadow
}

button:active {
    box-shadow: inset $fancy-shadow;
}

hr {
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
}

.custom-input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

input:required {
    box-shadow:none;
}